<!DOCTYPE html>
<html>
  <head>
    <title>crud</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
   <a href="/CPU_CRUD" style="font-size: 20px;" >CPU的CRUD</a>
</div><br>
<div>
   <a href="/crud_ram" style="font-size: 20px;">RAM的CRUD</a>
</div><br> <div>
<a href="/crud_motherboard" style="font-size: 20px;">motherboard的CRUD</a>
  </div>   
  </body>
</html>
